@import "../fonts/font.css";

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: "AvantGarde";
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 400px;
    color: white;
    justify-content: space-between;
    padding: 40px;
}

.header-container {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container img {
    height: 100%;
    aspect-ratio: 1.4/1;
    object-fit: cover;
}

.header-container h1 {
    font-size: 0.8em;
    font-weight: 500;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.hook-container {
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hook-container .hookTitle {
    height: calc(100% - 40px);
    aspect-ratio: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1px;
    padding: 20px;
}

.hook-container .hookTitle h2 {
    margin: 0;
    font-size: 2em;
    font-weight: 500;
    text-align: left;
}

.hook-container .drone-background {
    height: 80%;
    aspect-ratio: 1.2/1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hook-container .drone-background img {
    height: 100%;
    aspect-ratio: 1.2/1;
    object-fit: contain;
}

.inputs-container {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-container .credentials-container {
    height: 40px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-indent: 20px;
    font-size: 200%;
    border-radius: 5px;
}

.inputs-container .credentials-container::placeholder {
    font-size: .75em;
    font-weight: 200;
    align-self: center;
    color: white;
    font-family: "AvantGarde";
}

.buttons-container {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#login-button {
    background-color: white;
    width: 235px;
    height: 35px;
    font-family: "AvantGarde";
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#signup-button {
    background-color: transparent;
    color: white;
    width: 235px;
    height: 35px;
    font-family: "AvantGarde";
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 40px;
    cursor: pointer;
}

