@font-face {
    font-family: 'ITC Avant Garde Gothic Std Medium';
    src: url('../fonts/ITC Avant Garde Gothic Std Medium.otf') format('opentype');

}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

body {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: black;
    display: flex;
    height: 639px;
    width: 612px;
    color: white;
    font-family: "ITC Avant Garde Gothic Std Medium";
    flex-direction: column;
    justify-content: space-between;
    padding: 40px;
}

.header-container {
    height: 59.02px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#kidrone-logo {
    width: 82.1px;
    height: 59.02px;
}


h1 {
    display: flex;
    width: 109px;
    height: 15px;
    margin: 0;
    justify-content: center;
    align-items: center;
    font-size: 100%;
}

.hook-container {
    height: 186px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

h2 {
    width: 284px;
    height: 186px;
    font-size: 440%;
    display: flex;
    line-height: 0.9;
}

.hook-container .drone-background {
    width: 239.72px;
    height: 186.99px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#kidrone-drone {
    width: 229.19px;
    height: 124.77px;
}

.inputs-container {
    height: 130px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inputs-container .credentials-container {
    height: 46.95px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
    text-indent: 20px;
    font-size: 200%;
}

.inputs-container .credentials-container::placeholder {
    color: white;
    font-family: "ITC Avant Garde Gothic Std Medium";
}

.buttons-container {
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#login-button {
    background-color: white;
    width: 235px;
    height: 35px;
    font-family: "ITC Avant Garde Gothic Std Medium";
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#signup-button {
    background-color: transparent;
    color: white;
    width: 235px;
    height: 35px;
    font-family: "ITC Avant Garde Gothic Std Medium";
    font-size: 150%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 40px;
}

