.locatorContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 10px;
}

.orDivider {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 20px 0;
}

.orDivider span {
  font-size: 0.8em;
  color: #4D4D4D;
}

#newProject .tabsContent button {
  position: absolute;
  bottom: 0;
}