.byCity {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}




.orDivider {
  width: 100%;
  display: flex;
  gap: 15px;
  margin: 10px 0;
}

.orDivider hr {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.orDivider span {
  font-size: 0.8em;
  color: #4D4D4D;
}



#newProject .tabsContent button {
  position: absolute;
  bottom: 0;
}

#newProject .tabsContent button.complete p {
  font-size: 1.2em;
  font-weight: 300;
}