<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Map and Path Optimization</title>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.21/esri/css/main.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://js.arcgis.com/4.21/"></script>
  </head>
  <body>
    <div id="viewDiv"></div>
    <div id="controlDiv">
      <h1>Path Optimization Input</h1>
      <form id="optimize-form">
        <label for="shapelyFile">Upload Shapely File:</label>
        <input
          type="file"
          id="shapelyFile"
          name="shapelyFile"
          accept=".shp,.shx,.dbf"
        /><br /><br />
        <label for="pathName">[Optional] Path Name:</label>
        <input
          type="text"
          id="pathName"
          name="pathName"
          placeholder="Enter path name"
        /><br /><br />
        <label for="dispDiam">Display Diameter (meters):</label>
        <input type="number" id="dispDiam" name="dispDiam" /><br /><br />
        <label for="dispVel">Dispersion Velocity (km/h):</label>
        <input
          type="number"
          id="dispVel"
          name="dispVel"
          value="100"
        /><br /><br />
        <label for="nonDispVel">Non-Dispersion Velocity (km/h):</label>
        <input
          type="number"
          id="nonDispVel"
          name="nonDispVel"
          value="200"
        /><br /><br />
        <label for="accDist">Acceleration Distance (km/h<sup>2</sup>):</label>
        <input
          type="number"
          id="accDist"
          name="accDist"
          value="100"
        /><br /><br />
        <label for="flightDir">[Optional] Flight Direction:</label>
        <input
          type="text"
          id="flightDir"
          name="flightDir"
          placeholder="Enter direction"
        /><br /><br />
        <button type="button" onclick="submitForm()">Gerenate</button>
      </form>
      <div id="output"></div>
      <div id="plot"></div>
      <div id="debug"></div>
    </div>
    <script src="/static/mapInteractions.js"></script>
  </body>
</html>
