<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Map Interaction</title>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.21/esri/css/main.css"
    />
    <script src="https://js.arcgis.com/4.21/"></script>
    <style>
      #viewDiv {
        height: 100%;
        width: 100%;
      }
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="viewDiv"></div>
    <script src="/static/mapInteractions.js"></script>
  </body>
</html> -->
