<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Map and Path Optimization</title>
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.21/esri/css/main.css"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="https://js.arcgis.com/4.21/"></script>
  </head>
  <body>
    <div id="viewDiv" style="height: 500px; width: 100%"></div>
    <div id="controlDiv">
      <h1>Path Optimization Input</h1>
      <form id="optimize-form">
        <label for="shapelyFile">Upload Shapely File:</label>
        <input
          type="file"
          id="shapelyFile"
          name="shapelyFile"
          accept=".shp,.shx,.dbf"
        /><br /><br />
      </form>
      <div id="output"></div>
      <div id="plot"></div>
      <div id="debug"></div>
    </div>
    <script src="/static/testShapely.js"></script>
  </body>
</html>
